* {
  margin: 0;
  padding: 0;
}

.pages {
  background-image: url(./components/img/wp4869110-love-hd-mobile-wallpapers.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serifS;
  display: flex;
  flex-direction: column;
}

.anchor {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  border-radius: 30px;
  border: white 2px solid;
  align-self: center;
  justify-self: flex-end;
  position: absolute;
  bottom: 150px;
  text-decoration: none;
}

.anchor h1 {
  color: white;
  font-weight: 200;
}